@import "vars";

body {
  font-family: "Open Sans";
}

.logo {
  max-width: 158px;
  width: 100%;

  transition: outline 0.2s linear, opacity 0.2s linear;

  &:focus {
    outline: 3px solid $blue;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
    outline: none;
  }

  @include adpt($mob) {
    max-width: 110px;
    z-index: 4;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 15px;

  @include adpt($mob) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sr-only {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  z-index: 0;
  margin-bottom: 60px;

  font-weight: 700;
  font-size: 48px;
  line-height: 130%;

  @include title_shadow;

  @include adpt($mob) {
    font-size: 28px;
    margin-bottom: 30px;
  }
  &_margin-off {
    margin-bottom: 0;

    @include adpt($mob) {
      margin-bottom: 0;
    }
  }
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.btn {
  padding: 12px 24px;

  box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;

  background-color: $blue;
  color: #fff;

  transition: outline 0.2s linear, box-shadow 0.2s linear,
    background-color 0.2s linear, color 0.2s linear;

  &:focus {
    outline: 3px solid rgba(35, 82, 222, 0.5);
  }

  &:hover {
    color: $blue;
    background-color: #fff;
    outline: 1px solid $blue;
  }

  &:active {
    box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
    background-color: $blue;
    color: #fff;
    outline: none;
  }
}

.body_locked {
  overflow: hidden;
}
