$blue: #2352de;
$black: #333333;
$placeholder: #9c9cab;

$footer-bg-c: #343740;
$nav-bg: #7792e0;
$section-bg: #f6f6f8;
$border-color: #dbdbed;

$title-shadow: #e1e6f5;

$mob: 576px;

@mixin adpt($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin states {
  border-radius: 3px;

  transition: outline 0.2s linear, text-decoration 0.2s linear;

  &:focus {
    outline: 2px rgba(255, 255, 255, 0.5) solid;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.7;
    text-decoration: none;
    outline: none;
  }
}

@mixin title_shadow {
  position: relative;
  display: inline-block;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    background-color: $title-shadow;
    bottom: 4px;
    left: 0;
    z-index: -1;
    @include adpt($mob) {
      height: 10px;
      bottom: 3px;
    }
  }
}
