<section id="about-me" class="about-me">
  <div class="container">
    <h2 class="title about-me__title">Обо мне</h2>
    <p class="text about-me__text">
      Приветствую всех на своём сайте! Меня зовут Иван, я из Киева. Занимаюсь
      фронтенд-разработкой более года. До разработки занимался нелюбимым делом,
      ходил на нелюбимую работу, не мог понять за что взяться, чтобы дело
      приносило удовольствие и деньги, пока не наткнулся на один интересный
      курс.
    </p>
    <p class="text about-me__text">
      С тех пор прошел огонь, воду и медные трубы. Учёба давалась по-разному:
      где-то легче, где-то сложнее. Каждодневная работа над навыками и усердие,
      с которым я подходил к обучению, уже через несколько месяцев принесли
      плоды - я взял первый заказ на фрилансе. С отзывами клиентов и примерами
      работ можно ознакомиться ниже.
    </p>
  </div>
</section>
