<section class="contacts" id="contacts">
  <div class="container">
    <h1 class="title">Контакты</h1>
    <div class="contacts__container">
      <adress class="contacts__infornation">
        <div class="text contacts__text">
          Связаться со мной можно, воспользовавшись контактной формой, или
          напрямую по номеру телефона, email, в соцсетях:
        </div>

        <ul class="links-list">
          <li class="links-list__item">
            <a class="contacts__link" href="tel:+380501111111"
              >+38 (050) 111 11 11</a
            >
          </li>
          <li class="links-list__item">
            <a class="contacts__link" href="mailto:frontend-monster@email.com"
              >frontend-monster@email.com</a
            >
          </li>
        </ul>

        <ul class="social">
          <li>
            <a class="contacts__link social__link" href="#"
              ><img
                src="./images/contacts/__social-link_inst.svg"
                alt="Интсаграмм"
            /></a>
          </li>

          <li>
            <a class="contacts__link social__link" href="#"
              ><img
                src="./images/contacts/__social-link_fb.svg"
                alt="Фэйсбук"
            /></a>
          </li>

          <li>
            <a class="contacts__link social__link" href="#"
              ><img
                src="./images/contacts/__social-link_tg.svg"
                alt="Телеграмм"
            /></a>
          </li>
        </ul>
      </adress>

      <form class="form" action="#">
        <ul class="form__row">
          <li class="form__row-item">
            <label class="form__label" for="name">Ваше имя</label>
            <input
              class="form__field"
              type="text"
              name="name"
              placeholder="Иван"
            />  
          </li>
          
          <li class="form__row-item">
            <label class="form__label" for="tel-number">Номер телефона</label>
            <input
              class="  form__field"
              type="tel"
              name="tel-number"
              placeholder="+380501111111"
            />
          </li>
        </ul>

        <label class="form__label" for="message">Ваше сообщение</label>
        <textarea
        class="form__field form__textarea"
        name="message"
        placeholder="Текст вашего сообщения"></textarea>
        
        <label class="sr-only" for="submit-bth">Отправить</label>
        <input
          class="btn"
          type="submit"
          value="Отправить"
          name="submit-bth"
        />
        </div>
      </form>
    </div>
  </div>
</section>
