<section class="portfolio" id="portfolio">
  <div class="container portfolio__inner">
    <h1 class="title portfolio__title">Мои работы</h1>
    <div class="subtitle portfolio__select">
      <button
        type="button"
        class="filter portfolio__btn-filter portfolio__all-works filter_active"
        data-filter="all"
      >
        Все работы</button
      ><button
        type="button"
        class="filter portfolio__btn-filter portfolio__landing-page"
        data-filter=".landing-page"
      >
        Лендинги</button
      ><button
        type="button"
        class="filter portfolio__btn-filter portfolio__corporate"
        data-filter=".corporate"
      >
        Корпоративные</button
      ><button
        type="button"
        class="filter portfolio__btn-filter portfolio__e-commerce"
        data-filter=".e-commerce"
      >
        E-commerce
      </button>
    </div>
    <div class="portfolio__images">
      <div class="mix landing-page">
        <img src="./images/portfolio/1.png" alt="item" class="porfolio__img" />
      </div>
      <div class="mix corporate">
        <img src="./images/portfolio/2.png" alt="item" class="porfolio__img" />
      </div>
      <div class="mix landing-page">
        <img src="./images/portfolio/3.png" alt="item" class="porfolio__img" />
      </div>
      <div class="mix corporate">
        <img src="./images/portfolio/4.png" alt="item" class="porfolio__img" />
      </div>
      <div class="mix corporate">
        <img src="./images/portfolio/5.png" alt="item" class="porfolio__img" />
      </div>
      <div class="mix e-commerce">
        <img src="./images/portfolio/6.png" alt="item" class="porfolio__img" />
      </div>
    </div>
    <button class="btn portfolio__download-btn">Загрузить еще</button>
  </div>
</section>
