<section class="reviews">
  <div class="container reviews__container">
    <h1 class="title reviews__title">Отзывы клиентов</h1>
    <div class="reviews__inner">
      <div class="reviews__content">
        <img
          src="./images/reviews/reviews__client-avatar.svg"
          alt="Avatar"
          class="reviews__client-avatar"
        />
        <h2 class="reviews__client-name">Марк Цукерберг</h2>
        <p class="reviews__client-review">
          Фантастика! Я всецело доволен работой этого специалиста. Быстро и
          качественно. Рекомендую!
        </p>
      </div>
      <!-- Кнопка закрытия видео в мобильной версии, настроить не успел
      <button class="reviews__video-closed-btn">Закрыть</button> -->
      <div class="reviews__video-container">
        <video
          src="#"
          class="reviews__video"
          poster="./images/reviews/reviews__video-bg.png"
        ></video>
        <div class="reviews__video-blackout">
          <button class="reviews__play-btn">
            <svg
              width="86"
              height="100"
              viewBox="0 0 86 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0L85.7143 50L0 100V0Z" fill="white" />
            </svg>
          </button>
          <div class="reviews__video-layout"></div>
        </div>
      </div>
    </div>
  </div>
</section>
