<section class="stats" id="stats">
  <ul class="container stats__list">
    <li class="stats__item">
      <div class="stats__img stats__img_works"></div>
      <h2 class="stats__title">Выполненных работ</h2>
      <div class="stats__value">56</div>
    </li>

    <li class="stats__item">
      <div class="stats__img stats__img_clients"></div>
      <h2 class="stats__title">Довольных клиентов</h2>
      <div class="stats__value">23</div>
    </li>

    <li class="stats__item">
      <div class="stats__img stats__img_coffee"></div>
      <h2 class="stats__title">Выпито чашек кофе</h2>
      <div class="stats__value">477</div>
    </li>

    <li class="stats__item">
      <div class="stats__img stats__img_reviews"></div>
      <h2 class="stats__title">Всего отзывов</h2>
      <div class="stats__value">48</div>
    </li>
  </ul>
</section>
