<section class="stats">
  <div class="container stats__items">
    <div class="stats__item">
      <img
        src="./images/stats/stats__works.svg"
        alt="Works"
        class="stats__img_works"
      />
      <h2 class="stats__title">Выполненных работ</h2>
      <p class="stats__value">56</p>
    </div>
    <div class="stats__item">
      <img
        src="./images/stats/stats__clients.svg"
        alt="Clients"
        class="stats__img_clients"
      />
      <h2 class="stats__title">Довольных клиентов</h2>
      <p class="stats__value">23</p>
    </div>
    <div class="stats__item">
      <img
        src="./images/stats/stats__coffee.svg"
        alt="Cup of coffee"
        class="stats__img_coffee"
      />
      <h2 class="stats__title">Выпито чашек кофе</h2>
      <p class="stats__value">477</p>
    </div>
    <div class="stats__item">
      <img
        src="./images/stats/stats__review.svg"
        alt="Reviews"
        class="stats__img_reviews"
      />
      <h2 class="stats__title">Всего отзывов</h2>
      <p class="stats__value">48</p>
    </div>
  </div>
</section>
