.contacts {
  padding-bottom: 140px;

  @include adpt($mob) {
    padding-bottom: 50px;
    &__form-container {
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    align-items: start;
    justify-content: space-between;

    @include adpt($mob) {
      flex-direction: column;
      justify-content: start;
      gap: 32px;
    }
  }

  &__infornation {
    max-width: 530px;
    width: 100%;

    @include adpt($mob) {
      max-width: 100%;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 130%;
    color: $blue;
    border-radius: 3px;

    transition: outline 0.2s linear, text-decoration 0.2s linear,
      opacity 0.2s linear;

    &:focus {
      outline: 2px solid rgba(35, 82, 222, 0.5);
      border-radius: 3px;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.7;
      text-decoration: none;
      outline: none;
    }
  }
}

.links-list {
  &__item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 21px;
    }

    @include adpt($mob) {
      &:last-child {
        margin-bottom: 31px;
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;

  &__link {
    border-radius: 3px;

    transition: opacity 0.2s linear, box-shadow 0.2s linear;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
      border-radius: 13px;
      outline: none;
      opacity: 1;
    }
  }
}

.form {
  max-width: 540px;
  width: 100%;

  &__row {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;

    @include adpt($mob) {
      flex-direction: column;
      gap: 15px;
      margin-bottom: 15px;
    }
  }

  &__row-item {
    width: 100%;
  }

  &__field {
    width: 100%;
    padding: 13px 15px;

    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

    background-color: $section-bg;
    resize: none;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: $placeholder;
    }

    transition: outline 0.2s linear;
    &:focus {
      outline: 3px solid rgba(35, 82, 222, 0.5);
    }
    transition: color 0.2s linear;
    &:hover {
      &::placeholder {
        color: #000;
      }
    }
  }

  &__textarea {
    height: 115px;
    margin-bottom: 30px;

    @include adpt($mob) {
      margin-bottom: 15px;
    }
  }

  &__label {
    margin-bottom: 10px;

    display: block;

    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
  }
}
