.header {
  display: flex;

  width: 100%;
  height: 100vh;

  background-image: url(../images/hero/header__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  // сделал наложение на бг как ты сказал, но вообще если есть готовая картинка то не понимаю зачем лишний код
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;

    width: 100%;
    height: 100vh;

    background-color: rgba(35, 82, 222, 0.5);
  }

  &__inner {
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  &__text {
    display: block;
    width: 100%;

    font-weight: 400;
    font-size: 34px;
    line-height: 130%;

    @include adpt($mob) {
      font-size: 28px;
    }

    &_bold {
      display: block;
      width: 100%;

      font-weight: 700;
      font-size: 64px;
      line-height: 130%;

      margin-bottom: 22vh;

      @include adpt($mob) {
        font-size: 40px;
        margin-bottom: 170px;
        margin-bottom: 35vh;
      }
    }
  }

  &__link {
    text-align: center;
  }

  &__portfolio-link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    font-weight: 600;
    font-size: 18px;
    line-height: 130%;

    @include adpt($mob) {
      gap: 10px;

      font-size: 14px;
      line-height: 19px;
    }

    @include states;
  }
}
