.nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  z-index: 2;

  color: #fff;

  transition: background-color 0.2s linear;

  @include adpt($mob) {
    z-index: 10;
  }

  &_on-scroll {
    position: fixed;
    z-index: 10;

    background-color: $nav-bg;
  }

  &__inner {
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;

    @include adpt($mob) {
      flex-direction: row;
      padding-top: 11px;
    }

    &_on-scroll {
      z-index: 10;
      height: 80px;
      padding-top: 0;

      align-items: center;
    }
  }
}
