.portfolio {
  padding-bottom: 140px;

  @include adpt($mob) {
    padding: 9px 0 50px 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @include adpt($mob) {
      gap: 30px;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;

    @include adpt($mob) {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
}

.filter {
  &__btn {
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;

    @include adpt($mob) {
      font-size: 18px;
    }

    border-radius: 3px;
    transition: outline 0.2s linear, color 0.2s linear,
      text-decoration 0.2s linear;

    &:focus {
      outline: 2px solid rgba(35, 82, 222, 0.5);
    }

    &:hover {
      color: $blue;
      text-decoration: underline;
    }

    &:active {
      color: $blue;
      text-decoration: none;
      outline: none;
    }
  }
}

.selector {
  display: flex;
  gap: 35px;

  &__item {
    text-align: center;
  }

  @include adpt($mob) {
    flex-direction: column;
    gap: 15px;
  }
}

._active {
  color: $blue;
}
