.reviews {
  background-color: $section-bg;
  padding: 140px 0;
  z-index: -2;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  &__title {
    z-index: 2;
    @include title_shadow($title-shadow_2);
  }

  &__inner {
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 400px;
  }

  &__client-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: $blue;
  }

  &__client-review {
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: $black;
    text-align: center;
  }

  &__video {
    width: 570px;
    height: 400px;
    z-index: 1;

    // &-closed-btn {
    //   display: none;
    //   @include states;
    // }

    &-container {
      position: relative;
      height: 400px;
      z-index: 0;
    }

    &-layout {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;

      width: 100%;
      height: 100%;

      background-color: #000;
      opacity: 0.3;
      transition: all 0.2s linear;

      &_focused {
        opacity: 0.5;
      }

      &_hover {
        opacity: 0.6;
      }
    }

    &-blackout {
      width: 100%;
      height: 100%;
      z-index: 2;

      position: absolute;
      top: 0;
      left: 0;
    }

    &_now-playing {
      .reviews__video-layout {
        opacity: 0;
      }

      .reviews__play-btn {
        opacity: 0;
      }
    }
  }

  &__play-btn {
    position: absolute;
    top: 150px;
    left: calc(570px / 2 - 86px / 2);
    z-index: 4;
    outline: none;

    &:hover {
      transition: all 0.2s linear;
      svg {
        transform: scale(1.5);
      }
    }

    &:active {
      transition: all 0.2s linear;
      svg {
        transform: scale(0.6);
      }

      & + .reviews__video-layout {
        opacity: 0.45;
      }
    }
  }
}

@include mobile {
  .reviews {
    padding: 50px 0;

    &__container {
      position: relative;
      gap: 30px;
    }

    &__inner {
      padding: 0 16px;
      flex-direction: column;
    }

    &__content {
      gap: 0px;
      width: 100%;
    }

    &__client-avatar {
      margin-bottom: 30px;
    }

    &__client-name {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__client-review {
      font-size: 16px;
    }

    &__video {
      width: 80px;
      height: 80px;
      position: absolute;
      border-radius: 50%;
      top: -11px;
      right: -10px;

      // &-closed-btn {
      //   transition: all 0.2s linear;
      //   &_open {
      //     display: block;
      //     margin-top: 20px;
      //   }
      // }

      &-container {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;

        position: absolute;
        top: 156px;
        right: 88px;

        // transition: all 0.2s linear;
        // &_open {
        //   position: relative;
        //   width: 345px;
        //   height: 240px;
        //   border-radius: 0;
        //   top: 0;
        //   right: 0;
        //   .reviews__video {
        //     width: 345px;
        //     height: 240px;
        //     margin-top: 20px;
        //     border-radius: 0;
        //     top: 0;
        //     right: 0;

        //     &-layout {
        //       border-radius: 0;
        //       margin-top: 20px;
        //     }
        //     &-blackout {
        //       border-radius: 0;
        //       margin-top: 20px;
        //     }
        //   }

        //   .reviews__play-btn {
        //     svg {
        //       width: 70px;
        //     }
        //     top: 150px;
        //     left: calc(570px / 2 - 86px / 2);
        //   }
        // }
      }

      &-layout {
        border-radius: 50%;
      }

      &-blackout {
        border-radius: 50%;
      }
    }

    &__play-btn {
      svg {
        width: 17px;
        height: 20px;
      }
      top: 20px;
      left: 23px;
    }
  }
}
