.reviews {
  padding: 140px 0;
  z-index: -2;

  background-color: $section-bg;

  @include adpt($mob) {
    padding: 50px 0;

    &__client-photo {
      margin-bottom: 30px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @include adpt($mob) {
      position: relative;
      gap: 30px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;

    @include adpt($mob) {
      padding: 0;
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 400px;

    @include adpt($mob) {
      gap: 0px;
      width: 100%;
    }
  }

  &__client-name {
    margin-bottom: 20px;

    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: $blue;

    @include adpt($mob) {
      font-size: 20px;
    }
  }

  &__client-review {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: $black;

    @include adpt($mob) {
      font-size: 16px;
    }
  }

  &__video {
    width: 570px;
    height: 400px;
    z-index: 1;

    @include adpt($mob) {
      position: absolute;
      top: -11px;
      right: -10px;

      width: 80px;
      height: 80px;

      border-radius: 50%;
    }

    &-container {
      position: relative;
      height: 400px;
      z-index: 0;

      @include adpt($mob) {
        position: absolute;
        top: 156px;
        right: 88px;

        width: 60px;
        height: 60px;

        border-radius: 50%;
        overflow: hidden;
      }
    }

    &-layout {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;

      width: 100%;
      height: 100%;

      background-color: #000;
      opacity: 0.3;
      transition: opacity 0.2s linear;

      &._focused {
        opacity: 0.5;
      }

      &._hover {
        opacity: 0.6;
      }

      @include adpt($mob) {
        border-radius: 50%;
      }
    }

    &-blackout {
      width: 100%;
      height: 100%;
      z-index: 2;

      position: absolute;
      top: 0;
      left: 0;

      @include adpt($mob) {
        border-radius: 50%;
      }
    }

    &_now-playing {
      .reviews__video-layout {
        opacity: 0;
      }

      .reviews__play-btn {
        opacity: 0;
      }
    }
  }

  &__play-btn {
    position: absolute;
    top: 150px;
    left: calc(570px / 2 - 86px / 2);
    z-index: 4;

    width: 86px;
    height: 100px;

    background-image: url(../images/reviews/play.svg);
    background-repeat: no-repeat;
    background-size: cover;

    outline: none;

    transition: transform 0.2s linear;
    &:hover {
      transform: scale(1.5);
    }

    &:active {
      transform: scale(0.6);

      & + .reviews__video-layout {
        opacity: 0.45;
      }
    }

    @include adpt($mob) {
      width: 17px;
      height: 20px;

      top: 20px;
      left: 23px;
    }
  }
}
