.services {
  padding: 140px 0;

  @include adpt($mob) {
    padding: 50px 0;
  }

  &__cards {
    display: flex;
    gap: 90px;

    @include adpt($mob) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__card {
    width: 330px;

    @include adpt($mob) {
      width: 100%;
    }
  }

  &__img {
    width: 60px;
    height: 60px;

    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-size: cover;

    &_code {
      background-image: url("../images/services/code.svg");
    }

    &_dev {
      background-image: url("../images/services/dev.svg");
    }

    &_chat {
      background-image: url("../images/services/chat.svg");
    }

    @include adpt($mob) {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    margin-bottom: 25px;

    font-weight: 600;
    font-size: 28px;

    @include adpt($mob) {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }
}
