.skills {
  z-index: -2;
  padding: 140px 0;

  background-color: $section-bg;

  @include adpt($mob) {
    padding: 50px 0;

    &__portrait-img {
      width: 300px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include adpt($mob) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 86px;

    @include adpt($mob) {
      gap: 24px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @include adpt($mob) {
      flex-direction: column;
      gap: 5px;
    }
  }

  &__scale {
    position: relative;

    width: 600px;
    height: 32px;

    background-color: $border-color;

    @include adpt($mob) {
      width: 300px;
      height: 32px;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      height: 100%;

      background-color: $blue;
    }
  }

  &__label {
    width: 64px;

    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: $black;
    text-align: left;

    @include adpt($mob) {
      width: 100%;
      text-align: center;
    }
  }
}
