.stats {
  padding: 140px 0;

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    @include adpt($mob) {
      font-size: 14px;
    }
  }

  &__img {
    height: 80px;

    background-repeat: no-repeat;
    background-size: cover;

    @include adpt($mob) {
      height: 35px;
    }

    &_works {
      width: 98px;

      background-image: url("../images/stats/works.svg");

      @include adpt($mob) {
        width: 43px;
      }
    }

    &_clients {
      width: 92px;

      background-image: url("../images/stats/clients.svg");

      @include adpt($mob) {
        width: 40px;
      }
    }

    &_coffee {
      width: 80px;

      background-image: url("../images/stats/coffee.svg");

      @include adpt($mob) {
        width: 35px;
      }
    }

    &_reviews {
      width: 80px;

      background-image: url("../images/stats/reviews.svg");

      @include adpt($mob) {
        width: 35px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;

    @include adpt($mob) {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 50px 0;

    background-color: $section-bg;
    border: 1px solid $border-color;

    @include adpt($mob) {
      gap: 18px;
      padding: 25px 0;
    }
  }

  &__value {
    font-weight: 600;
    font-size: 44px;
    line-height: 100%;

    @include adpt($mob) {
      font-size: 30px;
    }
  }

  @include adpt($mob) {
    padding: 50px 0;
  }
}
